<div class="left-side-bar">
    <div class="brand-logo">
        <a href="index.html">
            <img src="/assets/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
            <img src="/assets/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Resumen de Servicios</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="index.html">Tarea Destino 1</a></li>
                        <li><a href="index2.html">Tarea Destino 2</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-edit2"></span><span class="mtext">Lista de Empleados</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="form-basic.html">perfil 1</a></li>
                        <li><a href="advanced-components.html">perfil 2</a></li>
                        <li><a href="form-wizard.html">perfil 3</a></li>
                        <li><a href="html5-editor.html">perfil 4</a></li>
                        <li><a href="form-pickers.html">perfil 5</a></li>
                        <li><a href="image-cropper.html">perfil 6</a></li>
                        <li><a href="image-dropzone.html">perfil 7</a></li>
                    </ul>
                </li>
                <li>
                    <a href="calendar.html" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-calendar1"></span><span class="mtext">Ingresar Empleado</span>
                    </a>
                </li>
               
            </ul>
        </div>
    </div>
</div>